.welcometext {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcometext > h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    white-space: nowrap;
}
.welcometext > h4 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-weight: 400;
    color: #676767;
}
.line{
    position: absolute;
    width: 50%;
    top: 55%;
    left: 45%;
    height: 1px;
    border-top: 1px solid #676767;
    transform: rotate(-45deg);
}
.secondline{
    height: 1px;
    border-top: 1px solid #676767;
    transform: rotate(45deg);
}

.mindly{
    padding: 5px;
    background-color: transparent;
    transition: all 1s ease-in;
    &:hover{
        background-color: rgb(54, 54, 54);
        color: white;
    }
}
