.left-side-of-the-part {
    border-right: 1px solid #D8D8D8;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    min-height: calc(96vh - 80px);
  }
  
  .user-interested-tag,
  .actucal-content-blog {
    border-bottom: 1px solid #C7C7C7;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .actucal-content-blog {
    border: none;
    align-items: normal;
    margin-top: 20px;
    flex-grow: 1; 
  }
  
  .user-interested-tag::-webkit-scrollbar {
    display: none;
  }
  
  .user-interested-tag {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .user-interested-tag > h4 {
    color: #676767;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
    cursor: pointer;
  }
  
  .active {
    border-bottom: black 1px solid;
  }
  